<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{{htmlTitle}}}</title>{{{cssString}}}
    <link href="/assets/styles/commons~feeace87.e94dd.css" rel="stylesheet">
</head>

<body>
    <div id="root">{{{content}}}</div>
    <script src="/assets/scripts/commons~31ecd969.e94dd27b43bbad144efe.js"></script>
    <script src="/assets/scripts/commons~253ae210.e94dd27b43bbad144efe.js"></script>
    <script src="/assets/scripts/commons~feeace87.e94dd27b43bbad144efe.js"></script>
    <script src="/assets/scripts/commons~0928ebd2.e94dd27b43bbad144efe.js"></script>
    <script src="/assets/scripts/main.e94dd27b43bbad144efe.js"></script>
</body>

</html>